/* Base styles */ 
@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/typography.css');

/* Layout styles */
@import url('./layout/header.css');
@import url('./layout/footer.css');
@import url('./layout/slider.css');
@import url('./layout/theme.css');
@import url('./layout/card.css');

/* Pages styles */
@import url('./pages/index.css');
@import url('./pages/home.css');
@import url('./pages/school.css');
@import url('./pages/aboutMe.css');

@import url('./acessibility.css');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--lightBlack);
    overflow-x: hidden;
    line-height: normal;
    background-color: var(--white);

    --width: 1024px;
    
    display: grid;
    grid-template-columns: 
        calc(50vw - calc(var(--width) / 2))
        repeat(3, 1fr)
        calc(50vw - calc(var(--width) / 2));

    transition: .2s;
}

main {
    padding: 2rem 2rem;
    grid-column: 2 / -2;
}

.flex {
    display: flex;
}

.titulo {
    font-size: var(--tamanhoGrande);
    font-weight: 600;
    color: var(--lightBlack);
    text-align: center;
    margin-bottom: 1rem;
}

.subtitulo {
    font-size: var(--tamanhoGrande);
    font-weight: 500;
    color: var(--lightBlack);
    text-align: center;
    margin-bottom: .5rem;
}

.subtituloSecundario {
    font-size: var(--tamanhoGrande);
    font-weight: 400;
    color: var(--lightBlack);
    margin-bottom: .2rem;
}

.corpo {
    font-size: var(--tamanhoMedio);
    color: var(--lightBlack);
    margin-bottom: .2rem;
    text-align: justify;
}

.descricao {
    font-size: var(--tamanhoPequeno);
}