.section-card {
    display: flex;
    justify-content: center;

    margin: 1rem 0;
}

.container-card {
    position: relative;
    z-index: 8000;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto; 

    min-width: 100%;
}

.container-card .card {
    position: relative;
    overflow: hidden;

    width: 40vw;
    max-width: 250px;
    height: auto;

    margin: 1rem;
    padding: 56px 16px 16px 16px;
    
    box-shadow: 0px 5px 6px rgba(24, 24, 27, 0.02), 0px 8px 15px rgba(24, 24, 27, 0.1);
    background: rgba(255, 255, 255, .015);
    border-radius: 15px;
    transition: box-shadow .25s;
}

.container-card .card .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    padding: .5em;
    
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
}

.container-card .card:hover .card-content {
    transform: translateY(0px);
    opacity: 1;
}

.container-card .card .card-content a{
    position: relative;
    display: inline-block;
    padding: .5rem 1rem;
    margin-top: .5rem;
    background-color: var(--gray);
    color: var(--lightBlack);
    text-decoration: none;
    border-radius: 5px;
}

.container-card .card .card-content a:hover {
    opacity: .7;
    transition: .5s;
}

.card-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

@media screen and (max-width: 481px) {
    .container-card .card{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container-card .card{
        max-width: 300px;
    }
}  