.bg-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    grid-column: 1 / -1;
    position: relative;
    height: 50vw;
    padding: 2rem 2rem;
}

.bg-video video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: auto;
    width: 100%;
    z-index: -100;
}

.bg-video h1 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    z-index: 1;
}

.bg-line {
    background-color: var(--white);
    height: 1px;
    width: 50%;
    max-width: 580px;
}

.bg-video h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
}

.section-lide {
    margin-bottom: 2rem;
}

.section-desenvolvimento h2{
    margin: 3rem 0 2rem 0;
}

.fotos-lavoura {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    gap: 2rem;
    
    margin: 3rem 0;
}

.fotos-lavoura img {
    width: 40vw;
    max-width: 250px;

    border-radius: 10px;
    box-shadow: 0px 5px 6px rgba(24, 24, 27, 0.02), 0px 8px 15px rgba(24, 24, 27, 0.1);
}

.section-conhecendo-mais {
    margin: 2rem 0 1rem 0;
}

.section-conclusao {
    margin: 2rem 0;
}

@media screen and (max-width: 481px) {
    .bg-video {
        height: 50vw;
    }

    .bg-video h1 {
        font-size: var(--tamanhoGrande);
    }

    .bg-video h2 {
        font-size: var(--tamanhoMedio);
    }

    .fotos-lavoura img {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .bg-video {
        height: 70vw;
    }

    .bg-video h1 {
        font-size: var(--tamanhoGrande);
    }

    .bg-video h2 {
        font-size: var(--tamanhoMedio);
    }
}

@media screen and (min-width: 1024px) {
    .bg-video {
        max-height: 600px;
    }
}